/* Items */
#items ul {
  margin: 0;
  padding: 0;
}
#items li {
  margin: 0;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#items li:nth-child(2n + 1) {
  background-color: #eee;
}
#items li:hover {
  background-color: var(--brand-light);
}
#items li > a,
#items li > span {
  display: block;
  padding: 0.5rem;
  color: var(--foregroud);
  text-decoration: none;
  flex-grow: 1;
}
#items li > a:hover {
  text-decoration: underline;
}
#items li button {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 50%;
}
