:root {
  --background: white;
  --foreground: black;
  --brand: #00692f;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 1em sans-serif;
  color: var(--foreground);
  background: var(--background);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
}

/* Nav */
nav {
  background: var(--brand);
  padding: 2rem 1rem;
  font-size: 2rem;
  line-height: 2rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav a {
  padding: 1rem;
  color: var(--brand-foreground);
  background: var(--background);
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* Main */
main {
  padding: 1rem;
  overflow: auto;
}
